{{! Template

<li class="drawer-list-item">
  <a href="#" title="My awesome menu link">
    My menu link
  </a>
</li>

}}

<li class="drawer-list-item">
  <a href="/">
    <i class="fa fa-home fa-lg fa-fw"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss fa-lg fa-fw"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/liwp" target="_blank">
    <i class="fa fa-twitter fa-lg fa-fw"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/liwp" target="_blank">
    <i class="fa fa-github fa-lg fa-fw"></i>Github
  </a>
</li>
